/*
Limpar formatações
margin = Espaçamneto externo de um elemento para outro.
padding = Espaçamento interno dentro de uma caixa de elementos.
Para fazer ligação com o "id" = #
Para fazer ligação com o "class" = .
*/

* {
    margin: 0;
    padding: 0;
}

/*
Formatações Genéricas
*/

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c4c4c4;
}

h1 {
    color: #252525;
    font-size: 40px;
}

h2 {
    color: #0066cc;
    letter-spacing: -1p;
}

h3 {
    border-radius: 20px;
    border: 1px solid #ddd;
    color: #565656;
    background: #cccccc;
    padding: 5px;
}

/*
div HEADER
*/

#header {
    background-color: #06c;
    padding: 15px;
    text-align: center;
}

#logo,
#menu {
    padding: 10px;
}

#header a:link,
#header a:visited {
    color: white;
    padding: 8px 12px;
}

#header a:hover {
    color: #06c;
    background: #ffffff;
    text-decoration: none;
}

.white {
    color: #ffffff;
}

/*
div content
*/

#content {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#posts {
    width: 660px;
    float: left;
}

.post {
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    text-align: justify;
    color: #06c;
}

.data-post {
    font-size: 13px;
    border-bottom: 1px solid #06c;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    color: black;
}

.img-post {
    width: 620px;
}

/*
div right-side
*/

#right-side {
    width: 240px;
    float: right;
}

.content-right {
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}

.post-right {
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px dotted #cccccc;
}

/*
formatação links
*/

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

/*
div footer
*/

#footer {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ffffff;
    color: #0066cc;
}

#posts .post h2{
    letter-spacing: -1px;
}

